# RENAME THIS FILE TO .env AND ADD THE "LLM Config" FIELDS 

# BASED ON THE MODE: THE MODEL AND PLATFORM FOR LLM USED FOR inference.py is picked
# PROD = for evaluation
# TEST = for local development - using Groq free apis
MODE=PROD

# LLM Config (required)
API_BASE_URL=
MODEL_NAME=
HF_TOKEN=

# Environment Config
DIFFICULTY=easy
PORT=8000
ENV_BASE_URL=http://localhost:8000

# Groq (for local testing)
GROQ_API_BASE_URL=https://api.groq.com/openai/v1
GROQ_MODEL_NAME=llama-3.1-8b-instant
GROQ_API_KEY=